body {
  font: normal 100% monospace;
}

body {
  height: 100vh;
}

img {
  max-width: 100%;
}

.top-bar {
  color: #FFF;
  background-color: #F00;
}

.top-bar p {
  overflow: hidden;
}

.chat-read {
  color: #000;
  background-color: #FFF;
}

.chat-write {
  color: #000;
  background-color: #FFF;
}

.bottom-bar {
  color: #FFF;
  background-color: #00F;
}

.top-bar {
  position: relative;
}

.top-bar .site-logo {
  position: absolute;
  left: 41.66667vw;
}

.top-bar .favorite-channels {
  position: absolute;
  left: 16.66667vw;
}

.top-bar .channel-search {
  position: absolute;
  left: 58.33333vw;
}

.top-bar .usr-flag {
  position: absolute;
  left: 83.33333vw;
}

.top-bar {
  height: 12.5vh;
}

.top-bar img {
  height: 6.25vh;
}

.chat-read {
  height: 62.5vh;
}

.chat-write {
  height: 12.5vh;
}

.bottom-bar {
  height: 12.5vh;
}

.top-bar {
  height: 12.5vh;
}

.top-bar img {
  height: 12.5vh;
}

.chat-read {
  height: 62.5vh;
}

.chat-write {
  height: 12.5vh;
}

.bottom-bar {
  height: 12.5vh;
}

.top-bar {
  height: 8.33333vh;
}

.top-bar img {
  height: 8.33333vh;
}

.chat-read {
  height: 66.66667vh;
}

.chat-write {
  height: 16.66667vh;
}

.bottom-bar {
  height: 8.33333vh;
}

.top-bar {
  height: 18.75vh;
}

.top-bar img {
  height: 9.375vh;
}

.chat-read {
  height: 50vh;
}

.chat-write {
  height: 18.75vh;
}

.bottom-bar {
  height: 12.5vh;
}

.top-bar {
  height: 12.5vh;
}

.top-bar img {
  height: 12.5vh;
}

.chat-read {
  height: 62.5vh;
}

.chat-write {
  height: 12.5vh;
}

.bottom-bar {
  height: 12.5vh;
}

.top-bar {
  height: 18.75vh;
}

.top-bar img {
  height: 9.375vh;
}

.chat-read {
  height: 50vh;
}

.chat-write {
  height: 18.75vh;
}

.bottom-bar {
  height: 12.5vh;
}

.top-bar {
  height: 16.66667vh;
}

.top-bar img {
  height: 8.33333vh;
}

.chat-read {
  height: 58.33333vh;
}

.chat-write {
  height: 16.66667vh;
}

.bottom-bar {
  height: 8.33333vh;
}

.top-bar {
  height: 16.66667vh;
}

.top-bar img {
  height: 16.66667vh;
}

.chat-read {
  height: 58.33333vh;
}

.chat-write {
  height: 16.66667vh;
}

.bottom-bar {
  height: 8.33333vh;
}
